body {
    overflow-x: hidden;
}
.max-badge {
    left: 1173px !important;
}

img.logo-img.img-fluid {
    height: 50px;
    object-fit: fill;
    /* filter: brightness(0) invert(1);  */
}

@media screen and (max-width: 767px) {
    h1.flex-grow-1.fs-3.fw-semibold.my-2.my-sm-3 {
        text-align: center;
    }
}

.cke_notifications_area {
    display: none;
}
